@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* importação de fontes */

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid transparent;


}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-left: 25%;




}

html {
    scroll-behavior: smooth;
}


/* css para animação da seção aparecer gradativamente na tela */
.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

/* ------------------------------------- */

.lista a[href*="github.com"] {
    color: #a24adc;
    font-weight: bold;
}

.lista a[href*="instagram.com"] {
    color: #cf3170;
    font-weight: bold;
}

.imagem-container {
    margin-left: 20%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.imagem {
    width: 200px;
    height: auto;
    border-radius: 15px;
    border: 3px solid white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagem:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

}

/* style da seção principal */
section[title="principal"] .box {
    justify-content: space-between;
    flex-grow: 1;
    width: 500px;
    height: 300px;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    color: white;
    background-color: #333;
    border: 2px solid white;
    padding: 20px;
    margin-left: 15%;
    margin-right: 20%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    border-radius: 15px;


}

section[title="principal"] .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

section[title="principal"] h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ------------------------------- */

/* style da seção experiencia */
section[title="experiencia"] h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

section[title="experiencia"] p {
    font-size: 20px;
    margin-bottom: 10px;
}

section[title="experiencia"] {
    color: white;
    width: 700px;
    height: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* -------------------------------------- */
/* style da seção habilidades */
section[title="habilidades"] {
    color: white;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

section[title="habilidades"] h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

section[title="habilidades"] p {
    font-size: 17px;
    margin-bottom: 10px;
}

/* ----------------------------- */

.lista {
    display: flex;
    gap: 50px;
    list-style-type: none;
    text-align: center;
    margin-right: 20%;
    margin-top: 15%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.lista a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease, text-decoration 0.3s ease;

}

.lista a:hover {
    color: #E5383B;
    transform: translateY(-5px);
    text-decoration: underline;
}

.nome {
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow:
        3px 2px 2px rgba(0, 0, 0, 0.7),
        -1px -1px 2px rgba(0, 0, 0, 0.7),
        3px 2px 2px rgba(255, 255, 255, 0.7),
        -1px 1px 2px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.nome:hover {

    transform: scale(1.1);
    /* Aumenta o tamanho do texto */
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.7),
        /* Adiciona um efeito de brilho */
        -1px -1px 5px rgba(0, 0, 0, 0.7);
}

header {
    background-color: #252323;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-right: 3%;

}

footer {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}



.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #252323;

}

.like-dislike {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.like-dislike h2 {
    margin: 0;
    color: white;
}

.like-dislike h1 {
    margin: 0;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}


/* STYLE DO PROJETOS.HTML */
.projnome {
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow:
        3px 2px 2px rgba(0, 0, 0, 0.7),
        -1px -1px 2px rgba(0, 0, 0, 0.7),
        3px 2px 2px rgba(255, 255, 255, 0.7),
        -1px 1px 2px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.projnome:hover {

    transform: scale(1.1);
    /* aumenta o tamanho do texto */
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.7),
        /* adiciona efeito de brilho */
        -1px -1px 5px rgba(0, 0, 0, 0.7);
}

.listaprojetos {
    display: flex;
    gap: 50px;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.listaprojetos a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease, text-decoration 0.3s ease;

}

.listaprojetos a:hover {
    color: #E5383B;
    transform: translateY(-5px);
    text-decoration: underline;
}

section[title="projetos"] .box {
    justify-content: space-between;
    flex-grow: 1;
    width: 500px;
    height: 300px;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    color: white;
    background-color: #333;
    border: 2px solid white;
    padding: 20px;
    margin-left: 15%;
    margin-right: 20%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    /* suaviza a transição da cor */

}

section[title="projetos"] .box:hover {
    background-color: #E5383B;
}

section[title="projetos"] h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
#contato {
    text-align: center;
    margin-top: 50px; 
}

#contato h2 {
    color: white; 
    font-family: 'Poppins', sans-serif; 
}